@import "./fonts/fonts.css";

:root {
  --grey1: #e7e7e7;
  --grey2: #2a2b29;
  --grey3: #262626;
  --grey4: #202225;
  --green1: #3ea34d;
  --green2: #142c18;
  --green3: #131a15;
  --green4: #1a221b;
  --green5: #07190A;
  --green6: #536656;
  --green7: #656c66;
  --green8: #51e267;
  --orange1: #de541e;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey2);
}

code {
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
